@layer base {
  * {
    border-color: var(--color-border);
    scrollbar-width: none;
  }

  html {
    font-size: calc(16px * var(--alchemy-ui-scale, 1));
  }

  *::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  #root {
    position: relative;
    z-index: 1;
    min-height: 100vh;
  }

  body {
    min-height: 100vh;
    background-color: var(--color-background);
    font-family: var(--font-sans);
    color: var(--color-foreground);
    overflow: hidden;
    user-select: none;
  }

  body::after {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    opacity: 0.05;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");
  }

  img {
    -webkit-user-drag: none;
    user-select: none;
  }

  input,
  textarea,
  select,
  option {
    user-select: text;
  }
}
